/*remove default margin to top*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}


h2 {
	font-family: 'Montserrat', sans-serif;
}

p {
}

.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}

.logo {
	background-color: #5B7D87;
	width: 140px;
	height: 140px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.nav {
	height: 100%;
	width: 160px;
	position: fixed;

	z-index: 1;
}

.nav_1 {
	padding: 10px;
	width: 160px;
	height: 100%;
	z-index: 3;
	position: inherit;
}

.nav_2 {
	background-color: #EBECED;
	width: 160px;
	height: 100%;
	opacity: 0.5;
	z-index: 2;
	position: inherit;
}



ul {
	padding-left: 0;

}

ul > li {
	list-style: none;
	background-color: #5B7D87;
	margin-bottom: 2px;
	text-align: center;
	line-height: 48px;
	/*padding: 5px 20px 5px;*/
}

ul > li > a {
	text-decoration: none;
	color: #EBECED;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.main {

	background-color: #DAE9E4;
	
}

.banner {
	background-image: url("../main_image.jpg");
	background-color: skyblue;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 850px;
	margin-left: 0;
	z-index: 0;
}

.box {
	color: #EBECED;
	border: 5px solid #EBECED;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -100%);
}

.box h1 {

	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	font-weight: bolder;
}

.box p {
	font-family: 'Spectral SC', serif;
	font-size: 16px;
}

.about_1,
.services_1,
.projects_1,
.gallery_1,
.footer_1 {
	margin-left: 160px;
}

.about,
.projects,
.footer {
	background-color: #EBECED; 

}

.services,
.gallery {
	background-color: #DAE9E4;	
}

.about {
	/*background-color: indianred;*/
	/*min-height: 700px;*/
}


.services {

	min-height: 300px;
}

.services h3 {
	margin-left: 5%;
}

.services p {
	margin: auto 5% 5%;
}

.column {
	padding: 5px;
	border: 1px solid #EBECED;
	width: 31%;
	margin-left: 1.16%;
	margin-right: 1.16%;
	float: left;
}


.services img,
.gallery img {
	width: 100%;
}


.projects {
	/*background-color: crimson;*/
	min-height: 300px;
}

.gallery {
	/*background-color: orange;*/
	min-height: 400px;
}


.gallery > .column {
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
}

.footer {
	/*background-color: green;*/
	min-height: 70px;
}

.contact {
	float: right;
}

img[alt*="Social"] {
	width: 50px;
	height: 50px;
	border: 1px solid #EBECED;
	border-radius: 50%;
	}

.clear:after {
	content: "";
	clear: both;
	display: block;
}