* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar {
	position: fixed;
	color: #fff;
	width: 100%;
	line-height: 80px;
	border-radius: 0;
	background: transparent;
	z-index: 100;
	border: none;
	transition: all .5s;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;

}

.nav .active {
	background: #fff;
	opacity: 0.3;
}

#btn-apply-nav {
	border-radius: 0;
	padding: 10px 10px 10px;
}

.scrolled-navbar {
	background: #000;
	opacity: 1;
}

.banner {
	height: 100vh;
	width: 100%;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.bg-img {
	background-image: url("../img/home.jpg");
	position: absolute;
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -10;
}

.black-overlay {
	background-color: #000;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: -8;
}

.container {
	position: absolute;
	height: 100%;
	width: 100%;
	color: #fff;
	z-index: 0;
}

.text-box {
	position: relative;
	top: 50%;
	left: 50%;
	float: left;
	transform: translate(-50%, -50%);
}



.text-box p {
	text-align: center;
	line-height: 5px;
}

#circle {
	position: inherit;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 200;
	font-size: 72px;
}



#btn-apply {
	border-radius: 0;
	float: right;
	padding: 10px 10px 10px;
}

.about-us {
	width: 100%;
	min-height: 400px;
}


.about-us-org {
	width: 100%;
	padding-top: 25px;
}

.about-us-org h2 {
	color: #5E7EC1;
}

.history {
	height: 100vh;
	width: 100%;
}

.history-content {
	bottom: 0;
}



.parallax-window {
	margin-top: -20px;
    height: 100vh;
    background: transparent;
    width: 100%;
    padding: 0;
}

.row {
	margin-top: 0px;
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}