* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.navbar {
	position: fixed;
	color: #fff;
	width: 100%;
	line-height: 80px;
	border-radius: 0;
	background: transparent;
	z-index: 100;
	border: none;
	transition: all .5s;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;

}

.active a{
	color: 
}


#btn-apply-nav {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 0;
	padding: 10px 10px 10px;
	background: transparent;
	transition: all .5s;
}

.scrolled-navbar {
	background: #fff;
	color: #2B3347;
	opacity: 1;
}

.scrolled-navbar #btn-apply-nav {
	background-color: #337ab7;
	border-color: none;
	color: #fff;
}

.banner {
	height: 100vh;
	width: 100%;
}

.caption {
	position: absolute;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #e0e0e0;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translate(-50%,-50%);
	z-index: 0;
}

.title {
	font-size: 70px;
	line-height: 70px;
	font-weight: 300;
	margin-bottom: 20px;
}

.subtitle {
	line-height: 28px;
}

.univ {
	margin-top: 10%;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 5px;
}

.ciem {
	font-size: 28px;
	margin-bottom: 5%; 
}

.bg-img {
	background-image: url("../img/home.jpg");
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -10;
}

.black-overlay {
	background-color: #000;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: -8;
}

#btn-apply {
	border-radius: 0;
	float: right;
	padding: 10px 10px 10px;
}

.section {
	padding: 60px 80px 20px;
	width: 100%;
	min-height: 400px;
	text-align: justify;
	font-family: 'Lato', sans-serif;

}

.section-right {
	padding: 60px 80px 20px 10px;
	width: 100%;
	min-height: 400px;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}

.section-events {
	padding: 60px 80px 20px;
	width: 100%;
	text-align: justify;
	font-family: 'Lato', sans-serif;
}

.section-header {
	margin: 0;
	line-height: 1.5;
	font-size: 48px;
	color: #5E7EC1;
	text-transform: uppercase;
	font-weight: 300;
}

.section-desc {	
	line-height: 1.5;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.history-bg {
	background-image: url("../img/history.png");
	min-height: 95vh;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
}

.event-main {
	padding: 10px 10px 20px;
}

.event-main img {
	width: 100%;
}

.event-others {
	padding: 0;
}

.event-others-box {
	padding: 10px;
}

.event-others-box img {
	width: 100%;
}

.projects-events-img {
	padding: 10px;
}

.events-img {
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
	width: 100%;
}

.event-main:hover .events-img {
	opacity: 0.3;
}

.event-others-box:hover .events-img {
	opacity: 0.3;
}

.parallax-window {
	margin-top: -20px;
    height: 75vh;
    background: transparent;
    width: 100%;
    padding: 0;
}

.row {
	margin-top: 0px;
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}
