* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

.wrapper {
	width: 80vw;
	height: 100vh;
	background-color: white;
	margin: 0 auto;
}

h1,
p,
span {
	padding: 25px;
}

hr {
	margin: 25px 0;
}

.buttons {
	text-align: center;
}

.buttons > button {
	padding: 5px;
}