* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menubar {
	color: #fff;
	background-color: rgba(17, 17, 17, 0.5);
	width: 100%;
	height: 100px;
	position: fixed;
	text-align: center;
	z-index: 2;
}

#menu ul {
	list-style-type: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logo {
	border: 3px solid #fff;
	width: 75px;
	height: 75px;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(-155%, -50%);
}

#text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -52%);
	font-family: 'Allerta Stencil', sans-serif;
	letter-spacing: 10px;
	font-size: 30px;
}



#menu ul li {
	display: inline-block;
	padding: 0 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.2px;
}

.banner {
	background-image: url("../img/main_image.jpg");
	position: relative;
	min-height: 900px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}



.box {
	text-align: center;
	color: #fff;
	border: 5px solid #fff;
	width: 250px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#text_banner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Allerta Stencil', sans-serif;
	letter-spacing: 12px;
	font-size: 72px;
}

.intro {
	background-color: grey;
	min-height: 500px;
	width: 100%;
	position: relative;
	z-index: -1;
}

.intro_welcome {
	background-color: white;
	min-height: 500px;
	width: 100%;
}

.intro_message {
	background-color: black;
	min-height: 300px;
}

.intro_box {
	text-align: center;
	color: #000;
	border: 3px solid #000;
	width: 600px;
	height: 100px;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#text_intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto', sans-serif;
	letter-spacing: 5px;
	font-size: 40px;
}

}

