* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
}

.wrapper {
	background-color: white;
	width: 80vw; /* vw = viewport width */
	height: 100vh; /* vh = viewport height */
	margin: 0 auto;
}