/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/*
 * Header
 */

.header {
	min-height: 150px;
	background-color: darkviolet;
}

/*
 * Main
 */

.main {
	min-height: 700px;
	background-color: lightgrey;
}

/*
 * Footer
 */

.footer {
	height: 100px;
	background-color: skyblue;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*
 * Grid
 */

.grid > .column {
	height: 1060px;
	width: 7.33%;
	margin-left: 0.5%; /* gutter */
	margin-right: 0.5%; /* gutter */
	background-color: #efefef;
	opacity: 0.4;
	padding-top: 530px;
	float: left;
	position: relative;
	top: -960px;
}

/* desktop or large-sized devices */
.col-lg-1 {
	width: 8.33%; /* 100% / 12 columns */
}

.col-lg-2 {
	width: 16.66%; /* 8.33% x 2 columns */
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.33%;
}

.col-lg-5 {
	width: 41.66%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-7 {
	width: 58.33%;
}

.col-lg-8 {
	width: 66.66%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-10 {
	width: 83.33%;
}

.col-lg-11 {
	width: 91.66%;
}

.col-lg-12 {
	width: 100%
}

/*
 * Left
 */

.left {
	height: 700px;
	background-color: yellow;
}

/*
 * Right
 */

.right,
.sidebar {
	height: 350px;
	background-color: orange;
}

.sidebar {
	background-color: indigo;
}

div[class*="col-lg"] {
	/*border: 5px solid black;*/
	float: left;
}

/* tablet or medium-sized devices */
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.col-md-1 {
		width: 8.33%; /* 100% / 12 columns */
	}

	.col-md-2 {
		width: 16.66%; /* 8.33% x 2 columns */
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%
	}
}

/* mobile or small-sized devices */
@media only screen and (max-width: 400px) {

	.col-sm-1 {smwidth: 8.33%; /* 100% / 12 columns */
	}

	.col-sm-2 {smwidth: 16.66%; /* 8.33% x 2 columns */
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.33%;
	}

	.col-sm-5 {
		width: 41.66%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-7 {
		width: 58.33%;
	}

	.col-sm-8 {
		width: 66.66%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-10 {
		width: 83.33%;
	}

	.col-sm-11 {
		width: 91.66%;
	}

	.col-sm-12 {
		width: 100%
	}
}

.pic {
	background-color: green;
	border: 2px solid black;
	height: 300px;
}