body {
	background-color: gold;
}

/* main header */
.navbar-inverse {
	margin-bottom: 0;
}

/* content */
.wrapper {
	width: 80vw;
	height: 84vh;
	background-color: #fff;
	margin: 0 auto;
}

h1 {
	margin: 0;
}

#loginForm,
#registerForm {
	width: 40%;
	margin: 0 auto;
}

/* main footer */
.main-footer {
	background-color: lightgrey;
	padding: 15px;
	text-align: center;
}