* {
	margin: 0;
	padding: 0;
}

.grandparent {
	background-color: skyblue;
	position: fixed;
	width: 50%;
	/*bottom: 0;*/
	/*left: 0;*/

}

.parent {
	background-color: pink;
	position: relative;
}

div	{
	padding: 20px;
}

p {
	position: static;
	margin-left: 50px;
	/*margin-top: -20px;*/
}

input[name="firstname"] {
	margin-right: 20px;
}

strong {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*left: 50px;*/
	background-color: yellow;
	/*top: 10px;*/
	/*right: 0;*/
	/*left: 100px;*/
}

